.ingresar {
    float: left;
}

.cerrar {
    float: right;
}

.oscurecer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, .8);
}

.registrar {
    width: 40%;
    background: #fff;
    border-radius: 1em;
    padding: 3em;
    position: fixed;
    top: 100px;
    left: 30%;
    z-index: 200;
    display: none;
}

.registrar h1 {
    color: #333;
    text-shadow: none;
}

.registrar input {
    width: 100%;
    padding: 1em;
    margin-bottom: 10px;
}